<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.home:-.}/logs/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${application.home:-.}/logs/server.%d{yyyy-MM-dd}.gz</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
            <Pattern>%date %level [%thread] %logger{60} | %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date %level [%thread] %logger{30} | %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="com.mm2lag" level="INFO"/>
    <logger name="org.apache.kafka" level="ERROR"/>

    <root level="WARN">
<!--        <appender-ref ref="ASYNCFILE"/>-->
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
